$concrete: #f2f2f2;
$white: #fff;
$black_5: rgba(0,0,0,0.05);
$color_alabaster_approx: #fcfcfc;
$color_tuna_approx: #353a3d;
$color_curious_blue_approx: #28a8d3;
$white_8: rgba(255,255,255,0.08);
$white_60: rgba(255, 255, 255, 0.6);
$color_hokey_pokey_approx: #ca9735;
$color_roof_terracotta_approx: #aa3329;
$color_soft_amber_approx: #d4c6b2;
$color_shady_lady_approx: #a4a7ac;
$color_havelock_blue_approx: #448ccb;
$color_outrageous_orange_approx: #fa6137;
$color_mandy_approx: #ef4468;
$color_emerald_approx: #53bf6b;
$color_fountain_blue_approx: #5cacc4;
$color_celadon_approx: #a1dbb2;
$color_robins_egg_blue_approx: #00d0dd;
$color_french_gray_approx: #c0c0c8;
$color_shakespeare_approx: #4eacc5;
$mercury: #e5e5e5;
$color_mako_approx: #434d53;
$color_oslo_gray_approx: #8a9196;
$color_mountain_mist_approx: #8c9398;
$color_black_haze_approx: #f7f7f7;
$color_chateau_green_approx: #4bac60;
$color_storm_dust_approx: #5d6164;
$black_40: rgba(0, 0, 0, 0.4);
$color_san_marino_approx: #4774b7;
$color_cerulean_approx: #07a9ea;
$black_13: rgba(0, 0, 0, 0.13);
$alabaster: #fafafa;
$color_star_dust_approx: #9c9ea0;
$color_supernova_approx: #ffc700;