.color-1 {
	background-color: $color_hokey_pokey_approx;
}
.color-2 {
	background-color: $color_roof_terracotta_approx;
}
.color-3 {
	background-color: $color_soft_amber_approx;
}
.color-4 {
	background-color: $color_shady_lady_approx;
}
.color-5 {
	background-color: $color_havelock_blue_approx;
}
.color-6 {
	background-color: $color_outrageous_orange_approx;
}
.color-7 {
	background-color: $color_mandy_approx;
}
.color-8 {
	background-color: $color_tuna_approx;
}
.color-9 {
	background-color: $color_emerald_approx;
}
.color-10 {
	background-color: $color_fountain_blue_approx;
}
.color-11 {
	background-color: $color_celadon_approx;
}
.color-12 {
	background-color: $color_robins_egg_blue_approx;
}